Flask
gunicorn
Werkzeug
pandas
TensorFlow  # Use the version compatible with your model
# tensorflow==2.16.1  # Use the version compatible with your model
# numpy==1.26.4
# scikit-learn==1.6.1
joblib
